* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #e4dddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70vmin;
    height: 75vmin;
    margin-top:25px;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    box-shadow: 0px 10px 10px #727272;
}

.player-score {
    background: #222323;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: left;
    padding: 0px 20px 0px;
    width: 100%;
    height: 50px;
}

.icon-apple {
    font-size: 22pt;
    color: #df3b3b;
}

.score {
    margin: 6px 10px 0px;
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    color:#e4dddd;
}

.snake {
    background-color: #AACF86;
}

.apple {
    background-color: #df3b3b;
}

.play-board {
    padding: 1.8px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(30,1fr);
    grid-template-columns: repeat(30, 1fr);

}

.game-over {
    position: absolute;
    width: 40vmin;
    height: 15vmin;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #79AD7F;
    box-shadow: 0px 5px 10px rgb(80, 80, 80);
}

.head-gameOver{
    width: 100%;
    height: 30%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-game {
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
}
.content-gameOver{
    width: 100%;
    height: 70%;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score-gameOver{
    text-align: center;
    font-size: 12pt;
    width: 100%;
    padding: 5px;
}

.restart-game{
    width: 100%;
    text-align: center;
    font-size: 10pt;
    font-weight: 700;
    padding: 1px;
    background: none;
    border: none;
    color: #404040;
}

.restart-game:hover{
    color: #f2f2f2;
    cursor: pointer;
}

@media (max-width:720px) {
    .container{
        width: 90vmin;
        height: 95vmin;
    }
    .game-over{
        width: 55vmin;
        height: 35vmin;
    }
}